@model MyAppOfHotal.Models.booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.booking_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.booking_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cr_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cr_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.checking.check_rooms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.checking.check_rooms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hostal.title_hostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hostal.title_hostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state_booking1.state_booking1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state_booking1.state_booking1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
